* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #FFFFFF;
  --secondary-color: #000000;
  --tertiary-color: 
  --primary-color-transparent: 
  --secondary-color-transparent: 
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 5px 10px;
  position:sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
  background-color: var(--primary-color);
}

header h1 {
  font-size: 45px;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  font-size: 20px;
  font-weight: 1000;
}

header a {
  color: var(--secondary-color);
  text-decoration: none;
}

section {
  padding: 10px 20px;
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50%;
}

.photo-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: bottom;
  object-fit: fill;
}

.photo-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
  object-fit: fill;
}

.photos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 95%;
}

.videos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 0px;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contact img {
  float: left;
  width: 30%;
  border-radius: 50%;
}

.contact-bio {
  float: right;
  font-size: 25px;
  width: 60%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10%;
}